<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value=".\packages" />
  </config>
  <packageSources>
    <!-- <add key="Internal" value="https://emdat.pkgs.visualstudio.com/_packaging/Internal/nuget/v3/index.json" /> -->
    <!-- <add key="Legacy" value="https://emdat.pkgs.visualstudio.com/_packaging/Legacy/nuget/v3/index.json" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>