<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0"/>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false" />
      <add name="eventlog" type="System.Diagnostics.EventLogTraceListener" initializeData="Emdat.SSBEA Service">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
      </add>
      <add name="file" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics" initializeData="C:\Log\EmdatSSBEAService\{MachineName}-{ApplicationName}-{LocalDateTime:yyyyMMddHH}-{ProcessId}.log" template="{LocalDateTime:yyyy-MM-dd HH:mm:ss.fff} - Emdat{EventType}: {ThreadId}: {Message}">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />
      </add>
    </sharedListeners>
    <switches>
      <add name="DefaultTraceSwitch" value="All" />
      <add name="OffTraceSwitch" value="Off" />
    </switches>
    <sources>
      <source name="Emdat.SSBEA.Service" switchName="DefaultTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--add name="console"></add-->
          <add name="eventlog" />
          <add name="file" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
