<?xml version="1.0" encoding="utf-8"?>
<Activator xmlns="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator EAServiceConfig.xsd"
           >
  <NotificationServiceList>
    <NotificationService name="myNotifService" id="100" enabled="true">
      <Description>My test notification service</Description>
      <ConnectionString>
        <!-- All connection string parameters except User Id and Password should be specificed here -->
        <Unencrypted>Data Source=(localdb)\projectsv13; Initial Catalog=Database1; Integrated Security=True; Application Name=EmdatSSBEAService;</Unencrypted>
      </ConnectionString>
      <!--This is for emdat use only-->
      <StoredProcedure>dbo.Receive_Messages_NotificationQueue</StoredProcedure>
    </NotificationService>
  </NotificationServiceList>
  <ApplicationServiceList>
    <ApplicationService name="ConsoleApp1" enabled="true">
      <OnNotification>
        <ServerName>(local)</ServerName>
        <DatabaseName>Database1</DatabaseName>
        <SchemaName>dbo</SchemaName>
        <QueueName>Queue1</QueueName>
      </OnNotification>
      <LaunchInfo>
        <ImagePath>C:\Users\cm_000\Documents\Visual Studio 2017\Projects\EmdatSSBEA\ConsoleApp1\bin\Release\netcoreapp2.1\win-x64\ConsoleApp1.exe</ImagePath>
        <CmdLineArgs></CmdLineArgs>
        <WorkDir>C:\Users\cm_000\Documents\Visual Studio 2017\Projects\EmdatSSBEA\ConsoleApp1\bin\Release\netcoreapp2.1\win-x64\</WorkDir>
      </LaunchInfo>
      <Concurrency min="0" max="8" />
    </ApplicationService>
  </ApplicationServiceList>
  <LogSettings>
    <LogFilter>
    </LogFilter>
  </LogSettings>
</Activator>